<?xml version="1.0"?>
<launch>

  <!-- DBW system -->
  <arg name="dbw" default="true"/>
  <group if="$(arg dbw)">
    <include file="$(find dbw_gem_can)/launch/dbw.launch" />
  </group>
  
  <include file="$(find ds_object_detection)/launch/tracker.launch" />
  <include file="$(find ds_object_detection)/launch/object_detection.launch" />
  <include file="$(find realsense2_camera)/launch/rs_camera.launch" />
  <node name="person_tracker" pkg="ds_object_detection" type="person_tracker.py" output="screen"/>
</launch>
